*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

nav, section, footer{
    background-color: #e7e7e7
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
}

nav{
    grid-column: 1/4;
    height: 225px;
}

section{
    grid-column: 1/0;
    height: 500px;
}

footer{
    height: 115px;
    grid-column: 1/4;
}

