

table{
    font-family: 'Roboto', sans-serif;
    width: 45%;
    font-size: 0.8em;
    border-spacing: 0;
    margin: 5em auto;
}

th{
    background-color: #db5757;
    color: #fff;
    height: 2.8em;
    padding: 0 3em;
    text-align: left;
}

td{
    padding: 0.7em 3em;
}

tr:nth-child(odd){
    background-color: #ebebeb;
}

.table-2{
    margin-top: 5em;
}

.table-2 th{
    background: #38b338;
}

.table-3 th{
    background-color: #2d4cd3;
}