div{
    width: 20em;
    margin: auto;
    font-family: 'Kanit', sans-serif;
}

h1{
    color: #3f3f3f;
    font-size: 2.8em;
}

label{
    font-weight: 500;
    letter-spacing: 0.3px;
    display: block;
    padding: 1em 0 0 0;
    margin: 1em 0 0 0.2em;
    font-size: 1em;
    color: #919191;
}

input{
    font-size: 1.4em;
    height: 2em;
    width: 17em;
    display: block;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #c7c7c7;
}

textarea{
    border: 0;
    outline: 0;
    border-bottom: 2px solid #c7c7c7;
    resize: none;
    width: 17em;
    height: 6em;
    font-size: 1.4em;
    font-family: 'Kanit', sans-serif;
}

::placeholder{
    color: #d6d6d6;
}

button{
    position: relative;
    left: 13em;
    margin-top: 1.5em;
    border: 0;
    outline: 0;
    border-radius: 4em;
    width: 16em;
    height: 3.5em;
    color: #fff;
    font-weight: 600;
    background: rgb(204,26,171);
    background: linear-gradient(90deg, #cc1aab 0%, #fe612c 100%);
}