*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #cbd9ff;
}

#rectangle{
    width: 450px;
    height: 200px;
    background-color: #4a64fa;
    margin: 300px auto;
}

.decrease{
    animation: decrease 3s linear forwards;
}

@keyframes decrease{
   0%{
    transform: scaleX(1);
   }
   10%{
    transform: scaleX(0.9);
    background-color: #5c74fc;
   }
   20%{
    transform: scaleX(0.8);
    background-color: #677dfd;
   }
   30%{
    transform: scaleX(0.7);
    background-color: #758afd;
   }
   40%{
    transform: scaleX(0.6);
    background-color: #8698ff;
   }
   50%{
    transform: scaleX(0.5);
    background-color: #9aa9fa;
   }
   60%{
    transform: scaleX(0.4);
    background-color: #bdc6fc;
   }
   70%{
    transform: scaleX(0.3);
    background-color: #cbd3ff;
   }
   80%{
    transform: scaleX(0.2);
    background-color: #c0c9fc;
   }
   90%{
    transform: scaleX(0.1);
    background-color: #cbd9ff;
   }
   100%{
    transform: scaleX(0);
    background-color: #cbd9ff;
   }
}