@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    height: 100vh;
    background: url(cola.jpg);
    background-size: cover;
}

.cover{
    background-color: #000;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

h1{
    text-shadow: 6px 6px 1px #000000;
    color: #fff;
    font-size: 5.6em;
    text-align: right;
    padding: 4.7em 2em 0 0;
    position: relative;
}


/* First bubble animation */
.wrapper-1 span{
    position: fixed;
    left: 20%;
    bottom: 56.5%;
    background-color: #fff;
    opacity: 0;
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    animation: animate-1 1s linear infinite;
}


/* letter B */
.wrapper-1 span:nth-child(1){
    transform: translate(35.5em, 4.6em);
    animation-delay: 1s;
}

.wrapper-1 span:nth-child(2){
    transform: translate(35.5em, 2.1em);
    animation-delay: 2.5s;
}

.wrapper-1 span:nth-child(3){
    transform: translate(37.56em, 4em);
    animation-delay: 3.6s;
}

/* Letter U */
.wrapper-1 span:nth-child(4){
    transform: translate(39em, 5em);
    animation-delay: 3s;
}

.wrapper-1 span:nth-child(5){
    transform: translate(39em, 3.4em);
    animation-delay: 3.7s;
}

.wrapper-1 span:nth-child(6){
    transform: translate(40.6em, 3.9em);
    animation-delay: 1s;
}

/* Letter B */
.wrapper-1 span:nth-child(7){
    transform: translate(42.23em, 4.9em);
    animation-delay: 1s;
}

.wrapper-1 span:nth-child(8){
    transform: translate(42.23em, 2.3em);
    animation-delay: 2.4s;
}

.wrapper-1 span:nth-child(9){
    transform: translate(44.23em, 4.7em);
    animation-delay: 2.7s;
}

/* letter B */
.wrapper-1 span:nth-child(10){
    transform: translate(45.76em, 4.7em);
    animation-delay: 1.1s;
}

.wrapper-1 span:nth-child(11){
    transform: translate(45.76em, 2.3em);
    animation-delay: 2s;
}

.wrapper-1 span:nth-child(12){
    transform: translate(47.7em, 3.6em);
    animation-delay: 3s;
}

/* letter l */
.wrapper-1 span:nth-child(13){
    transform: translate(49.3em, 4.9em);
    animation-delay: 1.6s;
}

.wrapper-1 span:nth-child(14){
    transform: translate(49.3em, 3.5em);
    animation-delay: 2.4s;
}

.wrapper-1 span:nth-child(15){
    transform: translate(49.3em, 1.8em);
    animation-delay: 3.4s;
}

/* letter Y */
.wrapper-1 span:nth-child(16){
    transform: translate(50.7em, 3.4em);
    animation-delay: 1.8s;
}

.wrapper-1 span:nth-child(17){
    transform: translate(52.23em, 3.9em);
    animation-delay: 2.2s;
}

.wrapper-1 span:nth-child(18){
    transform: translate(51.29em, 6em);
    animation-delay: 3s;
}

@keyframes animate-1{
    
        0%{
            margin-bottom: 0;
            margin-left: 0;       
        }
        10%{
            margin-bottom: 515;
            margin-left: 1px;
        }
        25%{
            margin-bottom: 30px;
            margin-left: 5px;
            opacity: 1;
        }
        50%{
            margin-bottom: 60px;
            margin-left: 8px;
            opacity: 0.5;
        }
        100%{
            margin-bottom: 130px;
            margin-left: 10px;
        }
    }


/* Second bubble animation */
.wrapper-2 span{
    position: fixed;
    bottom: -28em;
    opacity: 0;
    height: 1.5625em;
    width: 1.5625em;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ffffff;
    /* animation: animate-2 3s linear infinite; */
}

.wrapper-2 span:nth-child(1){
    left: 0;
    animation-delay: .6s;
}

.wrapper-2 span:nth-child(2){
    left: 5%;
    animation-delay: 3s;
}

.wrapper-2 span:nth-child(3){
    left: 10%;
    animation-delay: 2s;
}

.wrapper-2 span:nth-child(4){
    left: 15%;
    animation-delay: .1s;
}

.wrapper-2 span:nth-child(5){
    left: 20%;
    animation-delay: .4s;
}

.wrapper-2 span:nth-child(6){
    left: 25%;
    animation-delay: 7s;
}

.wrapper-2 span:nth-child(7){
    left: 30%;
    animation-delay: .3s;
}

.wrapper-2 span:nth-child(8){
    left: 35%;
    animation-delay: 3s;
}

.wrapper-2 span:nth-child(9){
    left: 40%;
    animation-delay: 6s;
}

.wrapper-2 span:nth-child(10){
    left: 45%;
    animation-delay: .4s;

}

.wrapper-2 span:nth-child(11){
    left: 50%;
    animation-delay: .6s;

}

.wrapper-2 span:nth-child(12){
    left: 55%;
    animation-delay: 3s;

}

.wrapper-2 span:nth-child(13){
    left: 60%;
    animation-delay: 6s;

}

.wrapper-2 span:nth-child(14){
    left: 65%;
    animation-delay: 2s;

}

.wrapper-2 span:nth-child(15){
    left: 70%;
    animation-delay: .6s;

}

.wrapper-2 span:nth-child(16){
    left: 75%;
    animation-delay: 3s;

}

.wrapper-2 span:nth-child(17){
    left: 80%;
    animation-delay: 8s;

}

.wrapper-2 span:nth-child(18){
    left: 85%;
    animation-delay: 4.2s;

}

.wrapper-2 span:nth-child(19){
    left: 90%;
    animation-delay: 2.4s;

}

.wrapper-2 span:nth-child(20){
    left: 95%;
    animation-delay: 9s;

}



@keyframes animate-2{
    0%{
        bottom: 0;
        margin-left: 90px;
        margin-right: 0;
    }
    20%{
        bottom: 20%;
        margin-left: 0;
        margin-right: 90px;
    }
    40%{
        bottom: 40%;
        margin-left: 90px;
        margin-right: 0;
        opacity: 1;
    }
    60%{
        bottom: 60%;
        margin-left: 0;
        margin-right: 90px;
    }
    80%{
        bottom: 80%;
        margin-left: 90px;
        margin-right: 0;
    }
    100%{
        bottom: 100%;
        margin-left: 0;
        margin-right: 90px;
    }
}
